In [1]:
import pandas as pd
import os
from glob import glob

In [ ]:
paths = glob('train/1.회원정보/*_train_회원정보.parquet')

dfs = [pd.read_parquet(path) for path in paths]

df_all = pd.concat(dfs, ignore_index=True)
df_all.to_csv('train/1.회원정보/2018_회원정보_전체.csv', index=False, encoding='utf-8-sig')
df_all.to_parquet('train/1.회원정보/2018_회원정보_전체.parquet', index=False)

In [ ]:
paths = glob('train/2.신용정보/*_train_신용정보.parquet')

dfs = [pd.read_parquet(path) for path in paths]

df_all = pd.concat(dfs, ignore_index=True)
df_all.to_csv('train/2.신용정보/2018_신용정보_전체.csv', index=False, encoding='utf-8-sig')
df_all.to_parquet('train/2.신용정보/2018_신용정보_전체.parquet', index=False)

In [2]:
paths = glob('train/4.청구입금정보/*_train_청구정보.parquet')

dfs = [pd.read_parquet(path) for path in paths]

df_all = pd.concat(dfs, ignore_index=True)
df_all.to_csv('train/4.청구입금정보/2018_청구정보_전체.csv', index=False, encoding='utf-8-sig')
df_all.to_parquet('train/4.청구입금정보/2018_청구정보_전체.parquet', index=False)

In [ ]:
paths = glob('test/1.회원정보/*_test_회원정보.parquet')

dfs = [pd.read_parquet(path) for path in paths]

df_all = pd.concat(dfs, ignore_index=True)
df_all.to_csv('test/1.회원정보/2018_회원정보_전체_test.csv', index=False, encoding='utf-8-sig')
df_all.to_parquet('test/1.회원정보/2018_회원정보_전체_test.parquet', index=False)

In [ ]:
paths = glob('test/2.신용정보/*_test_신용정보.parquet')

dfs = [pd.read_parquet(path) for path in paths]

df_all = pd.concat(dfs, ignore_index=True)
df_all.to_csv('test/2.신용정보/2018_신용정보_전체_test.csv', index=False, encoding='utf-8-sig')
df_all.to_parquet('test/2.신용정보/2018_신용정보_전체_test.parquet', index=False)

In [3]:
paths = glob('test/4.청구입금정보/*_test_청구정보.parquet')

dfs = [pd.read_parquet(path) for path in paths]

df_all = pd.concat(dfs, ignore_index=True)
df_all.to_csv('test/4.청구입금정보/2018_청구정보_전체.csv', index=False, encoding='utf-8-sig')
df_all.to_parquet('test/4.청구입금정보/2018_청구정보_전체.parquet', index=False)

In [4]:
ex1 = pd.read_parquet('train/1.회원정보/2018_회원정보_전체.parquet')

In [5]:
ex1

,기준년월,ID,남녀구분코드,연령,Segment,회원여부_이용가능,회원여부_이용가능_CA,회원여부_이용가능_카드론,소지여부_신용,소지카드수_유효_신용,...,할인금액_제휴연회비_B0M,청구금액_기본연회비_B0M,청구금액_제휴연회비_B0M,상품관련면제카드수_B0M,임직원면제카드수_B0M,우수회원면제카드수_B0M,기타면제카드수_B0M,카드신청건수,Life_Stage,최종카드발급경과월
0,201807,TRAIN_000000,2,40대,D,1,1,0,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀성장(2),22
1,201807,TRAIN_000001,1,30대,E,1,1,1,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀성장(1),18
2,201807,TRAIN_000002,1,30대,C,1,1,0,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀출산기,20
3,201807,TRAIN_000003,2,40대,D,1,1,0,1,2,...,0,0,0,0개,0개,0개,0개,1,자녀성장(2),17
4,201807,TRAIN_000004,2,40대,E,1,1,1,1,1,...,0,0,0,0개,0개,0개,0개,1,자녀성장(1),15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2399995,201812,TRAIN_399995,2,70대이상,E,1,1,1,1,1,...,0,0,0,0개,0개,0개,0개,0,노년생활,39
2399996,201812,TRAIN_399996,2,50대,D,1,1,1,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀성장(2),24
2399997,201812,TRAIN_399997,1,30대,C,1,1,0,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀출산기,18
2399998,201812,TRAIN_399998,1,40대,E,1,1,1,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀성장(1),27
2399999,201812,TRAIN_399999,2,40대,E,1,1,0,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀성장(1),18

In [6]:

all_cols = ex1.columns.tolist()
print("전체 컬럼 이름:")
print(all_cols)


str_cols = ex1.select_dtypes(include=['object']).columns.tolist()
print("\n문자형 컬럼 이름:")
print(str_cols)

import numpy as np
num_cols = ex1.select_dtypes(include=[np.number]).columns.tolist()
print("\n숫자형 컬럼 이름:")
print(num_cols)

전체 컬럼 이름:
['기준년월', 'ID', '남녀구분코드', '연령', 'Segment', '회원여부_이용가능', '회원여부_이용가능_CA', '회원여부_이용가능_카드론', '소지여부_신용', '소지카드수_유효_신용', '소지카드수_이용가능_신용', '입회일자_신용', '입회경과개월수_신용', '회원여부_연체', '이용거절여부_카드론', '동의여부_한도증액안내', '수신거부여부_TM', '수신거부여부_DM', '수신거부여부_메일', '수신거부여부_SMS', '가입통신회사코드', '탈회횟수_누적', '최종탈회후경과월', '탈회횟수_발급6개월이내', '탈회횟수_발급1년이내', '거주시도명', '직장시도명', '마케팅동의여부', '유효카드수_신용체크', '유효카드수_신용', '유효카드수_신용_가족', '유효카드수_체크', '유효카드수_체크_가족', '이용가능카드수_신용체크', '이용가능카드수_신용', '이용가능카드수_신용_가족', '이용가능카드수_체크', '이용가능카드수_체크_가족', '이용카드수_신용체크', '이용카드수_신용', '이용카드수_신용_가족', '이용카드수_체크', '이용카드수_체크_가족', '이용금액_R3M_신용체크', '이용금액_R3M_신용', '이용금액_R3M_신용_가족', '이용금액_R3M_체크', '이용금액_R3M_체크_가족', '_1순위카드이용금액', '_1순위카드이용건수', '_1순위신용체크구분', '_2순위카드이용금액', '_2순위카드이용건수', '_2순위신용체크구분', '최종유효년월_신용_이용가능', '최종유효년월_신용_이용', '최종카드발급일자', '보유여부_해외겸용_본인', '이용가능여부_해외겸용_본인', '이용여부_3M_해외겸용_본인', '보유여부_해외겸용_신용_본인', '이용가능여부_해외겸용_신용_본인', '이용여부_3M_해외겸용_신용_본인', '연회비발생카드수_B0M', '연회비할인카드수_B0M', '기본연회비_B0M', '제휴연회비_B0M', '할인금액_기본연회비_B0M', '할인금액_제휴연회비_B0M', '청구금액_기본연회비_B0M', '청구금액_제휴연회비_B0M', '상품관련면제카드수_B0M', '임직원면제카드수_B0M', '우수회원면제카드수_B0M', '기타면제카드수_B0M', '카드신청건수', 'Life_Stage', '최종카드발급경과월']

문자형 컬럼 이름:
['ID', '연령', 'Segment', '가입통신회사코드', '거주시도명', '직장시도명', '_1순위신용체크구분', '_2순위신용체크구분', '연회비발생카드수_B0M', '상품관련면제카드수_B0M', '임직원면제카드수_B0M', '우수회원면제카드수_B0M', '기타면제카드수_B0M', 'Life_Stage']

숫자형 컬럼 이름:
['기준년월', '남녀구분코드', '회원여부_이용가능', '회원여부_이용가능_CA', '회원여부_이용가능_카드론', '소지여부_신용', '소지카드수_유효_신용', '소지카드수_이용가능_신용', '입회일자_신용', '입회경과개월수_신용', '회원여부_연체', '이용거절여부_카드론', '동의여부_한도증액안내', '수신거부여부_TM', '수신거부여부_DM', '수신거부여부_메일', '수신거부여부_SMS', '탈회횟수_누적', '최종탈회후경과월', '탈회횟수_발급6개월이내', '탈회횟수_발급1년이내', '마케팅동의여부', '유효카드수_신용체크', '유효카드수_신용', '유효카드수_신용_가족', '유효카드수_체크', '유효카드수_체크_가족', '이용가능카드수_신용체크', '이용가능카드수_신용', '이용가능카드수_신용_가족', '이용가능카드수_체크', '이용가능카드수_체크_가족', '이용카드수_신용체크', '이용카드수_신용', '이용카드수_신용_가족', '이용카드수_체크', '이용카드수_체크_가족', '이용금액_R3M_신용체크', '이용금액_R3M_신용', '이용금액_R3M_신용_가족', '이용금액_R3M_체크', '이용금액_R3M_체크_가족', '_1순위카드이용금액', '_1순위카드이용건수', '_2순위카드이용금액', '_2순위카드이용건수', '최종유효년월_신용_이용가능', '최종유효년월_신용_이용', '최종카드발급일자', '보유여부_해외겸용_본인', '이용가능여부_해외겸용_본인', '이용여부_3M_해외겸용_본인', '보유여부_해외겸용_신용_본인', '이용가능여부_해외겸용_신용_본인', '이용여부_3M_해외겸용_신용_본인', '연회비할인카드수_B0M', '기본연회비_B0M', '제휴연회비_B0M', '할인금액_기본연회비_B0M', '할인금액_제휴연회비_B0M', '청구금액_기본연회비_B0M', '청구금액_제휴연회비_B0M', '카드신청건수', '최종카드발급경과월']

In [7]:
cols = ['가입통신회사코드', '거주시도명', '직장시도명', '_1순위신용체크구분', '_2순위신용체크구분', '연회비발생카드수_B0M', '상품관련면제카드수_B0M', '임직원면제카드수_B0M', '우수회원면제카드수_B0M', '기타면제카드수_B0M', 'Life_Stage']  # 실제 열 이름으로 바꿔주세요
print(ex1[cols].head(5))

  가입통신회사코드 거주시도명 직장시도명 _1순위신용체크구분 _2순위신용체크구분 연회비발생카드수_B0M 상품관련면제카드수_B0M  \
0       L사    서울    서울         신용         체크           0개            0개
1       K사    경기    경기         신용       None           0개            0개
2       S사    서울    서울         신용         체크           0개            0개
3       L사    부산    부산         신용         체크           0개            0개
4       K사    광주    광주         신용         체크           0개            0개

  임직원면제카드수_B0M 우수회원면제카드수_B0M 기타면제카드수_B0M Life_Stage
0           0개            0개          0개    자녀성장(2)
1           0개            0개          0개    자녀성장(1)
2           0개            0개          0개      자녀출산기
3           0개            0개          0개    자녀성장(2)
4           0개            0개          0개    자녀성장(1)

In [8]:
mapping = {
    'L사': 0,
    'K사': 1,
    'S사': 2
}

# map 후 결측(None)은 -1로 채우고 정수형으로 변환
ex1['가입통신회사코드'] = (
    ex1['가입통신회사코드']
      .map(mapping)        # L사→0, K사→1, S사→2, 그 외→NaN
      .fillna(-1)          # NaN→-1
      .astype(int)         # 정수형
)

print(ex1['가입통신회사코드'].value_counts(dropna=False))

가입통신회사코드
 2    995637
 1    565208
 0    451585
-1    387570
Name: count, dtype: int64

In [9]:
import pandas as pd
from pandas.api.types import CategoricalDtype

# 1) 17개 광역시도 리스트 (원하는 순서대로)
regions = [
    '서울', '부산', '대구', '인천', '광주', '대전', '울산', '세종',
    '경기', '강원', '충북', '충남', '전북', '전남', '경북', '경남', '제주'
]

# 2) 카테고리 타입 정의
region_type = CategoricalDtype(categories=regions, ordered=True)

# 3) 변환 적용
for col in ['거주시도명', '직장시도명']:
    ex1[col] = (
        ex1[col]
           .astype(str)                   # 혹시 숫자 타입 섞여 있어도 문자열로
           .astype(region_type)           # 카테고리로 변환
           .cat.codes                     # 0~16, 리스트 외 값은 -1
    )

print("거주시도명 코드 분포:", ex1['거주시도명'].value_counts(dropna=False).sort_index())
print("직장시도명 코드 분포:", ex1['직장시도명'].value_counts(dropna=False).sort_index())

거주시도명 코드 분포: 거주시도명
0     692656
1     149007
2      80687
3     162815
4      36659
5     142800
6      70491
7        149
8     652987
9      12156
10    110601
11     30091
12     13572
13     55304
14     91237
15     96244
16      2544
Name: count, dtype: int64
직장시도명 코드 분포: 직장시도명
-1     244969
 0     576618
 1     131285
 2      76605
 3     146944
 4      34100
 5     120697
 6      66275
 7       3117
 8     598244
 9      15485
 10    103951
 11     28361
 12     20442
 13     52849
 14     82975
 15     94527
 16      2556
Name: count, dtype: int64

In [10]:
count_cols = [
    '연회비발생카드수_B0M',
    '상품관련면제카드수_B0M',
    '임직원면제카드수_B0M',
    '우수회원면제카드수_B0M',
    '기타면제카드수_B0M'
]

for col in count_cols:
    ex1[col] = (
        ex1[col]
          .astype(str)  # None → 'None', NaN → 'nan'
          .str.replace('개', '', regex=False)  # '0개' → '0', 'None' → 'None'
    )
    # 숫자로 변환, 에러는 NaN 처리 → NaN → -1 로 채우기 → 정수형
    ex1[col] = (
        pd.to_numeric(ex1[col], errors='coerce')
          .fillna(-1)
          .astype(int)
    )

In [11]:
le_cols = ['_1순위신용체크구분', '_2순위신용체크구분', 'Life_Stage']

for col in le_cols:
    codes, uniques = pd.factorize(ex1[col], sort=True)
    ex1[col] = codes  # NaN은 -1, 나머지는 0,1,2… 순서대로

In [ ]:
import pandas as pd
import numpy as np
from statsmodels.stats.outliers_influence import variance_inflation_factor
from statsmodels.tools.tools import add_constant

num_df = ex1.select_dtypes(include=[np.number]).dropna()

X = add_constant(num_df)

vif_df = pd.DataFrame({
    'feature': X.columns,
    'VIF': [variance_inflation_factor(X.values, i)
            for i in range(X.shape[1])]
})

vif_df = vif_df[vif_df['feature'] != 'const'].reset_index(drop=True)
print(vif_df)

C:\Users\AHN\AppData\Local\anaconda3\Lib\site-packages\statsmodels\regression\linear_model.py:1782: RuntimeWarning: divide by zero encountered in scalar divide
  return 1 - self.ssr/self.centered_tss
C:\Users\AHN\AppData\Local\anaconda3\Lib\site-packages\statsmodels\stats\outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)

In [ ]:
high_vif = vif_df[vif_df['VIF'] > 10].reset_index(drop=True)

high_features = high_vif['feature'].tolist()
print(high_features)

print(high_vif)

In [ ]:
low_var = num_df.var()[ num_df.var() < 1e-5 ].index.tolist()
low_var

In [ ]:
missing_ratio = ex1.isna().mean()
high_na = missing_ratio[ missing_ratio > 0.3 ].index.tolist()
high_na

In [ ]:
paths = glob('train/1.회원정보/*_train_회원정보.parquet')

dfs = [pd.read_parquet(path) for path in paths]

df_all = pd.concat(dfs, ignore_index=True)
df_all.to_csv('train/1.회원정보/2018_회원정보_전체.csv', index=False, encoding='utf-8-sig')
df_all.to_parquet('train/1.회원정보/2018_회원정보_전체.parquet', index=False)