In [43]:
import pandas as pd
import os, gc
from sklearn.preprocessing import LabelEncoder

In [44]:
path1 = 'C:/final_prj/open/7.마케팅_정보_전처리/'
os.listdir(path1)

['마케팅_전처리.parquet', '마케팅_전처리_test.parquet']

In [45]:
df1 = pd.read_parquet(path1 + '마케팅_전처리.parquet')
df1.head()

,기준년월,ID,컨택건수_카드론_TM_B0M,컨택건수_이용유도_TM_B0M,컨택건수_보험_TM_B0M,컨택건수_이용유도_LMS_B0M,컨택건수_이용유도_EM_B0M,컨택건수_이용유도_청구서_B0M,컨택건수_이용유도_인터넷_B0M,컨택건수_카드론_TM_R6M,...,컨택건수_부대서비스_TM_R6M,컨택건수_보험_TM_R6M,컨택건수_카드론_LMS_R6M,컨택건수_CA_LMS_R6M,컨택건수_카드론_EM_R6M,컨택건수_카드론_청구서_R6M,컨택건수_CA_청구서_R6M,컨택건수_이용유도_인터넷_R6M,컨택건수_채권_B0M,컨택건수_채권_R6M
0,201807,TRAIN_000000,0,0,0,2,13,0,0,0,...,0,3,0,0,0,0,0,2,0,0
1,201807,TRAIN_000001,3,0,0,0,0,0,1,9,...,0,0,1,2,0,2,2,6,0,0
2,201807,TRAIN_000002,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,3,0,0
3,201807,TRAIN_000003,0,0,0,2,13,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,201807,TRAIN_000004,0,0,0,3,0,1,0,0,...,0,0,0,2,0,0,0,1,0,0

In [46]:
df1.shape

(2400000, 22)

In [47]:
path2 = 'C:/final_prj/open/'
os.listdir(path2)

['7.마케팅_정보_전처리',
 '8.성과_정보_전처리',
 'sample_submission.csv',
 'test',
 'test_마케팅정보_total.parquet',
 'train',
 'train_마케팅정보_total.parquet',
 'train_성과정보_total.parquet',
 '~$신용카드 고객 세그먼트 분류 AI 경진대회 데이터 명세.xlsx',
 '마케팅정보_vif.csv',
 '성과정보_VIF.csv',
 '신용카드 고객 세그먼트 분류 AI 경진대회 데이터 명세.xlsx',
 '회원정보_total.parquet']

In [48]:
df2 = pd.read_parquet(path2 +  '회원정보_total.parquet')
df2.head()

,기준년월,ID,남녀구분코드,연령,Segment,회원여부_이용가능,회원여부_이용가능_CA,회원여부_이용가능_카드론,소지여부_신용,소지카드수_유효_신용,...,할인금액_제휴연회비_B0M,청구금액_기본연회비_B0M,청구금액_제휴연회비_B0M,상품관련면제카드수_B0M,임직원면제카드수_B0M,우수회원면제카드수_B0M,기타면제카드수_B0M,카드신청건수,Life_Stage,최종카드발급경과월
0,201807,TRAIN_000000,2,40대,D,1,1,0,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀성장(2),22
1,201807,TRAIN_000001,1,30대,E,1,1,1,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀성장(1),18
2,201807,TRAIN_000002,1,30대,C,1,1,0,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀출산기,20
3,201807,TRAIN_000003,2,40대,D,1,1,0,1,2,...,0,0,0,0개,0개,0개,0개,1,자녀성장(2),17
4,201807,TRAIN_000004,2,40대,E,1,1,1,1,1,...,0,0,0,0개,0개,0개,0개,1,자녀성장(1),15

In [49]:
df2.shape

(2400000, 78)

In [50]:
res = pd.concat([df1, df2['Segment']],axis=1)

In [51]:
del df2
gc.collect()

1739

### 상관관계 분석을 위한 전처리

In [52]:
res['Segment'].value_counts()

Segment
E    1922052
D     349242
C     127590
A        972
B        144
Name: count, dtype: int64

In [53]:
# Segment encoding
le = LabelEncoder()
res['Segment_en'] = le.fit_transform(res['Segment'])

# decoded = le.inverse_transform(encoded)
# print(decoded)  # ['red', 'blue', 'green', ...]

In [54]:
res.head()

,기준년월,ID,컨택건수_카드론_TM_B0M,컨택건수_이용유도_TM_B0M,컨택건수_보험_TM_B0M,컨택건수_이용유도_LMS_B0M,컨택건수_이용유도_EM_B0M,컨택건수_이용유도_청구서_B0M,컨택건수_이용유도_인터넷_B0M,컨택건수_카드론_TM_R6M,...,컨택건수_카드론_LMS_R6M,컨택건수_CA_LMS_R6M,컨택건수_카드론_EM_R6M,컨택건수_카드론_청구서_R6M,컨택건수_CA_청구서_R6M,컨택건수_이용유도_인터넷_R6M,컨택건수_채권_B0M,컨택건수_채권_R6M,Segment,Segment_en
0,201807,TRAIN_000000,0,0,0,2,13,0,0,0,...,0,0,0,0,0,2,0,0,D,3
1,201807,TRAIN_000001,3,0,0,0,0,0,1,9,...,1,2,0,2,2,6,0,0,E,4
2,201807,TRAIN_000002,0,0,0,0,0,0,0,0,...,0,0,0,0,0,3,0,0,C,2
3,201807,TRAIN_000003,0,0,0,2,13,1,0,0,...,0,0,0,0,0,0,0,0,D,3
4,201807,TRAIN_000004,0,0,0,3,0,1,0,0,...,0,2,0,0,0,1,0,0,E,4

In [55]:
drop_cols = ['기준년월', 'ID', 'Segment']
res_drop = res.drop(columns = drop_cols)
res_drop.head()

,컨택건수_카드론_TM_B0M,컨택건수_이용유도_TM_B0M,컨택건수_보험_TM_B0M,컨택건수_이용유도_LMS_B0M,컨택건수_이용유도_EM_B0M,컨택건수_이용유도_청구서_B0M,컨택건수_이용유도_인터넷_B0M,컨택건수_카드론_TM_R6M,컨택건수_리볼빙_TM_R6M,컨택건수_이용유도_TM_R6M,...,컨택건수_보험_TM_R6M,컨택건수_카드론_LMS_R6M,컨택건수_CA_LMS_R6M,컨택건수_카드론_EM_R6M,컨택건수_카드론_청구서_R6M,컨택건수_CA_청구서_R6M,컨택건수_이용유도_인터넷_R6M,컨택건수_채권_B0M,컨택건수_채권_R6M,Segment_en
0,0,0,0,2,13,0,0,0,0,3,...,3,0,0,0,0,0,2,0,0,3
1,3,0,0,0,0,0,1,9,0,2,...,0,1,2,0,2,2,6,0,0,4
2,0,0,0,0,0,0,0,0,0,2,...,0,0,0,0,0,0,3,0,0,2
3,0,0,0,2,13,1,0,0,0,2,...,0,0,0,0,0,0,0,0,0,3
4,0,0,0,3,0,1,0,0,0,7,...,0,0,2,0,0,0,1,0,0,4

In [56]:
corr_matrix = res_drop.corr()

In [57]:
len(corr_matrix['Segment_en'][corr_matrix['Segment_en'].abs() >= 0.02])

11

In [63]:
corr_list = corr_matrix['Segment_en'][corr_matrix['Segment_en'].abs() >= 0.02].index.tolist()[:-1]

In [64]:
corr_list

['컨택건수_이용유도_TM_B0M',
 '컨택건수_이용유도_LMS_B0M',
 '컨택건수_이용유도_EM_B0M',
 '컨택건수_이용유도_청구서_B0M',
 '컨택건수_카드론_TM_R6M',
 '컨택건수_이용유도_TM_R6M',
 '컨택건수_보험_TM_R6M',
 '컨택건수_카드론_LMS_R6M',
 '컨택건수_이용유도_인터넷_R6M',
 '컨택건수_채권_R6M']

In [65]:
pd.concat([df1.iloc[:,:2], df1[corr_list]],axis=1).to_parquet(path1 + '마케팅_전처리_final.parquet')

In [67]:
# 저장된 데이터 확인
tmp = pd.read_parquet(path1 + '마케팅_전처리_final.parquet')
tmp.head()

,기준년월,ID,컨택건수_이용유도_TM_B0M,컨택건수_이용유도_LMS_B0M,컨택건수_이용유도_EM_B0M,컨택건수_이용유도_청구서_B0M,컨택건수_카드론_TM_R6M,컨택건수_이용유도_TM_R6M,컨택건수_보험_TM_R6M,컨택건수_카드론_LMS_R6M,컨택건수_이용유도_인터넷_R6M,컨택건수_채권_R6M
0,201807,TRAIN_000000,0,2,13,0,0,3,3,0,2,0
1,201807,TRAIN_000001,0,0,0,0,9,2,0,1,6,0
2,201807,TRAIN_000002,0,0,0,0,0,2,0,0,3,0
3,201807,TRAIN_000003,0,2,13,1,0,2,0,0,0,0
4,201807,TRAIN_000004,0,3,0,1,0,7,0,0,1,0

In [68]:
tmp.shape

(2400000, 12)