In [1]:
import pandas as pd
import os, gc

### 마케팅 정보
- test 파일 병합 및 train 컬럼명으로 필터

In [4]:
path = 'C:/final_prj/open/'
os.listdir(path)

['7.마케팅_정보_전처리',
 '8.성과_정보_전처리',
 'sample_submission.csv',
 'test',
 'test_마케팅정보_total.parquet',
 'test_성과정보_total.parquet',
 'train',
 'train_마케팅정보_total.parquet',
 'train_성과정보_total.parquet',
 '~$신용카드 고객 세그먼트 분류 AI 경진대회 데이터 명세.xlsx',
 '마케팅정보_vif.csv',
 '성과정보_VIF.csv',
 '신용카드 고객 세그먼트 분류 AI 경진대회 데이터 명세.xlsx',
 '회원정보_total.parquet']

In [5]:
marketing = pd.read_parquet(path + 'test_마케팅정보_total.parquet')
marketing.head()

,기준년월,ID,컨택건수_카드론_TM_B0M,컨택건수_리볼빙_TM_B0M,컨택건수_CA_TM_B0M,컨택건수_이용유도_TM_B0M,컨택건수_신용발급_TM_B0M,컨택건수_부대서비스_TM_B0M,컨택건수_포인트소진_TM_B0M,컨택건수_보험_TM_B0M,...,컨택건수_카드론_당사앱_R6M,컨택건수_CA_당사앱_R6M,컨택건수_리볼빙_당사앱_R6M,컨택건수_이용유도_당사앱_R6M,컨택건수_채권_B0M,컨택건수_FDS_B0M,컨택건수_채권_R6M,컨택건수_FDS_R6M,캠페인접촉건수_R12M,캠페인접촉일수_R12M
0,201807,TEST_00000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1회 이상,1일 이상
1,201807,TEST_00001,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,5회 이상,5일 이상
2,201807,TEST_00002,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,10회 이상,10일 이상
3,201807,TEST_00003,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,15회 이상,15일 이상
4,201807,TEST_00004,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1회 이상,1일 이상

In [6]:
marketing.shape

(600000, 64)

In [7]:
train = pd.read_parquet('C:/final_prj/open/7.마케팅_정보_전처리/마케팅_전처리_final.parquet')
train.shape

(2400000, 12)

In [11]:
marketing[train.columns].to_parquet('C:/final_prj/open/7.마케팅_정보_전처리/마케팅_전처리_test_final.parquet')

In [12]:
### 저장된 데이터 확인
tmp = pd.read_parquet('C:/final_prj/open/7.마케팅_정보_전처리/마케팅_전처리_test_final.parquet')
tmp.head()

,기준년월,ID,컨택건수_이용유도_TM_B0M,컨택건수_이용유도_LMS_B0M,컨택건수_이용유도_EM_B0M,컨택건수_이용유도_청구서_B0M,컨택건수_카드론_TM_R6M,컨택건수_이용유도_TM_R6M,컨택건수_보험_TM_R6M,컨택건수_카드론_LMS_R6M,컨택건수_이용유도_인터넷_R6M,컨택건수_채권_R6M
0,201807,TEST_00000,0,2,1,0,0,0,0,0,4,0
1,201807,TEST_00001,0,0,0,0,0,2,2,0,1,0
2,201807,TEST_00002,0,2,1,0,9,2,0,0,2,0
3,201807,TEST_00003,0,0,0,0,12,3,0,0,6,0
4,201807,TEST_00004,0,2,0,0,0,0,0,0,2,0

In [13]:
tmp.shape

(600000, 12)

In [14]:
del marketing 
gc.collect()

1446

### 성과 정보
- test 파일 병합 및 train 컬럼명으로 필터

In [17]:
test = pd.read_parquet('C:/final_prj/open/test_성과정보_total.parquet')
test.shape

(600000, 49)

In [15]:
result = pd.read_parquet('C:/final_prj/open/8.성과_정보_전처리/성과_전처리_final.parquet')
result.shape

(2400000, 9)

In [20]:
test[result.columns].to_parquet('C:/final_prj/open/8.성과_정보_전처리/성과_전처리_test_final.parquet')

In [22]:
### 저장된 데이터 확인
tmp = pd.read_parquet('C:/final_prj/open/8.성과_정보_전처리/성과_전처리_test_final.parquet')
tmp.shape

(600000, 9)

In [23]:
del test
gc.collect()

1007

### 마케팅 & 성과 파일 병합
- train

In [25]:
train_marketing = pd.read_parquet('C:/final_prj/open/7.마케팅_정보_전처리/마케팅_전처리_final.parquet')
train_marketing.head()

,기준년월,ID,컨택건수_이용유도_TM_B0M,컨택건수_이용유도_LMS_B0M,컨택건수_이용유도_EM_B0M,컨택건수_이용유도_청구서_B0M,컨택건수_카드론_TM_R6M,컨택건수_이용유도_TM_R6M,컨택건수_보험_TM_R6M,컨택건수_카드론_LMS_R6M,컨택건수_이용유도_인터넷_R6M,컨택건수_채권_R6M
0,201807,TRAIN_000000,0,2,13,0,0,3,3,0,2,0
1,201807,TRAIN_000001,0,0,0,0,9,2,0,1,6,0
2,201807,TRAIN_000002,0,0,0,0,0,2,0,0,3,0
3,201807,TRAIN_000003,0,2,13,1,0,2,0,0,0,0
4,201807,TRAIN_000004,0,3,0,1,0,7,0,0,1,0

In [26]:
train_result = pd.read_parquet('C:/final_prj/open/8.성과_정보_전처리/성과_전처리_final.parquet')
train_result.head()

,기준년월,ID,증감율_이용건수_할부_전월,증감율_이용건수_CA_전월,증감율_이용금액_체크_전월,증감율_이용건수_할부_분기,증감율_이용건수_카드론_분기,잔액_신판평균한도소진율_r6m,변동률_할부평잔
0,201807,TRAIN_000000,1.999996,0.0,0.0,0.000000,0.0,0.153562,1.042805
1,201807,TRAIN_000001,0.000000,0.0,0.0,0.000000,0.0,0.644283,0.905663
2,201807,TRAIN_000002,-1.999996,0.0,0.0,1.999996,0.0,0.189041,1.993590
3,201807,TRAIN_000003,-1.999996,0.0,0.0,0.000000,0.0,0.333548,1.050646
4,201807,TRAIN_000004,0.000000,0.0,0.0,0.000000,0.0,0.021708,0.999998

In [27]:
merged_df = pd.merge(train_marketing, train_result, on=['기준년월', 'ID'], how='inner')
merged_df.shape

(2400000, 19)

In [28]:
merged_df.head()

,기준년월,ID,컨택건수_이용유도_TM_B0M,컨택건수_이용유도_LMS_B0M,컨택건수_이용유도_EM_B0M,컨택건수_이용유도_청구서_B0M,컨택건수_카드론_TM_R6M,컨택건수_이용유도_TM_R6M,컨택건수_보험_TM_R6M,컨택건수_카드론_LMS_R6M,컨택건수_이용유도_인터넷_R6M,컨택건수_채권_R6M,증감율_이용건수_할부_전월,증감율_이용건수_CA_전월,증감율_이용금액_체크_전월,증감율_이용건수_할부_분기,증감율_이용건수_카드론_분기,잔액_신판평균한도소진율_r6m,변동률_할부평잔
0,201807,TRAIN_000000,0,2,13,0,0,3,3,0,2,0,1.999996,0.0,0.0,0.000000,0.0,0.153562,1.042805
1,201807,TRAIN_000001,0,0,0,0,9,2,0,1,6,0,0.000000,0.0,0.0,0.000000,0.0,0.644283,0.905663
2,201807,TRAIN_000002,0,0,0,0,0,2,0,0,3,0,-1.999996,0.0,0.0,1.999996,0.0,0.189041,1.993590
3,201807,TRAIN_000003,0,2,13,1,0,2,0,0,0,0,-1.999996,0.0,0.0,0.000000,0.0,0.333548,1.050646
4,201807,TRAIN_000004,0,3,0,1,0,7,0,0,1,0,0.000000,0.0,0.0,0.000000,0.0,0.021708,0.999998

In [29]:
merged_df.to_parquet('C:/final_prj/open/마케팅_성과_train.parquet')

In [30]:
### 저장된 데이터 확인
tmp = pd.read_parquet('C:/final_prj/open/마케팅_성과_train.parquet')
tmp.head()

,기준년월,ID,컨택건수_이용유도_TM_B0M,컨택건수_이용유도_LMS_B0M,컨택건수_이용유도_EM_B0M,컨택건수_이용유도_청구서_B0M,컨택건수_카드론_TM_R6M,컨택건수_이용유도_TM_R6M,컨택건수_보험_TM_R6M,컨택건수_카드론_LMS_R6M,컨택건수_이용유도_인터넷_R6M,컨택건수_채권_R6M,증감율_이용건수_할부_전월,증감율_이용건수_CA_전월,증감율_이용금액_체크_전월,증감율_이용건수_할부_분기,증감율_이용건수_카드론_분기,잔액_신판평균한도소진율_r6m,변동률_할부평잔
0,201807,TRAIN_000000,0,2,13,0,0,3,3,0,2,0,1.999996,0.0,0.0,0.000000,0.0,0.153562,1.042805
1,201807,TRAIN_000001,0,0,0,0,9,2,0,1,6,0,0.000000,0.0,0.0,0.000000,0.0,0.644283,0.905663
2,201807,TRAIN_000002,0,0,0,0,0,2,0,0,3,0,-1.999996,0.0,0.0,1.999996,0.0,0.189041,1.993590
3,201807,TRAIN_000003,0,2,13,1,0,2,0,0,0,0,-1.999996,0.0,0.0,0.000000,0.0,0.333548,1.050646
4,201807,TRAIN_000004,0,3,0,1,0,7,0,0,1,0,0.000000,0.0,0.0,0.000000,0.0,0.021708,0.999998

In [31]:
del train_marketing
del train_result
gc.collect()

2618

- test 병합

In [32]:
test_marketing = pd.read_parquet('C:/final_prj/open/7.마케팅_정보_전처리/마케팅_전처리_test_final.parquet')
test_marketing.head()

,기준년월,ID,컨택건수_이용유도_TM_B0M,컨택건수_이용유도_LMS_B0M,컨택건수_이용유도_EM_B0M,컨택건수_이용유도_청구서_B0M,컨택건수_카드론_TM_R6M,컨택건수_이용유도_TM_R6M,컨택건수_보험_TM_R6M,컨택건수_카드론_LMS_R6M,컨택건수_이용유도_인터넷_R6M,컨택건수_채권_R6M
0,201807,TEST_00000,0,2,1,0,0,0,0,0,4,0
1,201807,TEST_00001,0,0,0,0,0,2,2,0,1,0
2,201807,TEST_00002,0,2,1,0,9,2,0,0,2,0
3,201807,TEST_00003,0,0,0,0,12,3,0,0,6,0
4,201807,TEST_00004,0,2,0,0,0,0,0,0,2,0

In [33]:
test_marketing.shape

(600000, 12)

In [34]:
test_result = pd.read_parquet('C:/final_prj/open/8.성과_정보_전처리/성과_전처리_test_final.parquet')
test_result.head()

,기준년월,ID,증감율_이용건수_할부_전월,증감율_이용건수_CA_전월,증감율_이용금액_체크_전월,증감율_이용건수_할부_분기,증감율_이용건수_카드론_분기,잔액_신판평균한도소진율_r6m,변동률_할부평잔
0,201807,TEST_00000,0.000000,0.000000,0.000000,0.000000,0.0,0.027117,0.999998
1,201807,TEST_00001,-0.583068,-1.999856,-0.014037,0.341557,0.0,0.154375,1.044473
2,201807,TEST_00002,-1.999996,0.000000,0.000000,-1.109685,0.0,0.165020,1.053083
3,201807,TEST_00003,0.000000,0.000000,0.000000,1.999996,0.0,0.000000,1.991630
4,201807,TEST_00004,-1.999996,0.000000,-0.009348,0.337840,0.0,0.531094,1.053743

In [35]:
test_result.shape

(600000, 9)

In [36]:
merged_df = pd.merge(test_marketing, test_result, on=['기준년월', 'ID'], how='inner')
merged_df.shape

(600000, 19)

In [37]:
merged_df.to_parquet('C:/final_prj/open/마케팅_성과_test.parquet')

In [38]:
### 저장된 데이터 확인
tmp = pd.read_parquet('C:/final_prj/open/마케팅_성과_test.parquet')
tmp.head()

,기준년월,ID,컨택건수_이용유도_TM_B0M,컨택건수_이용유도_LMS_B0M,컨택건수_이용유도_EM_B0M,컨택건수_이용유도_청구서_B0M,컨택건수_카드론_TM_R6M,컨택건수_이용유도_TM_R6M,컨택건수_보험_TM_R6M,컨택건수_카드론_LMS_R6M,컨택건수_이용유도_인터넷_R6M,컨택건수_채권_R6M,증감율_이용건수_할부_전월,증감율_이용건수_CA_전월,증감율_이용금액_체크_전월,증감율_이용건수_할부_분기,증감율_이용건수_카드론_분기,잔액_신판평균한도소진율_r6m,변동률_할부평잔
0,201807,TEST_00000,0,2,1,0,0,0,0,0,4,0,0.000000,0.000000,0.000000,0.000000,0.0,0.027117,0.999998
1,201807,TEST_00001,0,0,0,0,0,2,2,0,1,0,-0.583068,-1.999856,-0.014037,0.341557,0.0,0.154375,1.044473
2,201807,TEST_00002,0,2,1,0,9,2,0,0,2,0,-1.999996,0.000000,0.000000,-1.109685,0.0,0.165020,1.053083
3,201807,TEST_00003,0,0,0,0,12,3,0,0,6,0,0.000000,0.000000,0.000000,1.999996,0.0,0.000000,1.991630
4,201807,TEST_00004,0,2,0,0,0,0,0,0,2,0,-1.999996,0.000000,-0.009348,0.337840,0.0,0.531094,1.053743